<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>

  <style>
  		.theTable{
  			width: 300px;
  			height: 300px;
  			margin-left: auto;
  			margin-right: auto;
  			cursor: pointer;
  		}

  		.theTable tr td {
  			text-align: center;
        border: 1px solid black;
        height: 100px;
        width: 100px;
  		}

      .inputBox {
        background-color: #f5f5f5;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40%;
      }

      .testing {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
	</style>

	<script>
		function myFunction(){
			//window.alert("hello");
		}
	</script>
	
</html>